:root {
    --md-sys-color-background: #10131b;
    --md-sys-color-primary: #4583c7;
    --hover-color: #2c2f38;
    --md-sys-color-text: #ffffff;
    --small-text-color: #e0e2ed;
    --md-sys-color-on-surface: #ffffff;
    --md-sys-color-surface: #1c1f28;
    --option-cover-color: #414755;
    --selected: #33353a;
    --link-color: var(--md-sys-color-primary);
    --note-border-color-hover: var(--md-sys-color-text);
    --link-decoration: none;
}

html {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-text);
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    gap: 2rem;
    height: 87svh;
    width: 95svw;
}

.navbar {
    display: none;
    position: absolute;
    height: 90vh;
    width: 13rem;
    padding: 0;
    margin: 0;
    border-radius: 0;
    transition: transform 0.3s ease, display 0.3s ease;
    overflow-y: auto;
    scroll-behavior: smooth;
    transform: translateX(-100%);
}

aside>md-list {
    height: 100%;
}

.center {
    text-align: center;
}

.color-accent {
    color: var(--md-sys-color-primary);
}

main {
    background-color: var(--md-sys-color-background);
    flex-grow: 1;
    border-radius: 1rem;
    padding: 0px 0.1rem 0px 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

aside {
    background-color: var(--md-sys-color-background);
    padding: 30px;
    border-radius: 1rem;
    min-width: 10rem;
    overflow: hidden;
}

aside>p:first-child {
    font-size: 8.25pt;
}

aside>h2 {
    font-size: 18pt;
    margin: 10px 0px;
}

aside>ul>li>a,
aside>ul>li>ul>li>a,
.card>a {
    text-decoration: none;
}

aside>ul {
    list-style-type: none;
    padding: 0px;
}

aside>ul>li {
    margin-bottom: 1.5rem;
}

.Webpage-Name {
    font-size: 22px;
    text-decoration: none;
    padding: 0px 12px;
    margin-top: 7px;
}

.Webpage-Name>b {
    color: var(--md-sys-color-primary);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

header>a {
    margin-bottom: 11px;
}

header>md-list-item {
    border-radius: 15px;
}

#hamBtn {
    border-radius: 15px;
}

#theme-changer {
    position: absolute;
    right: 2rem;
    top: 4rem;
    background-color: var(--md-sys-color-surface);
    border-radius: 2em;
    height: auto;
    z-index: 1;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 0px 0px 10px 0px #000000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#theme-changer.visible {
    opacity: 1;
    visibility: visible;
}

.theme-copy {
    display: flex;
    align-items: center;
    gap: 1px;
}

.option-cover {
    position: relative;
    background-color: var(--option-cover-color);
    border-radius: 2em;
    height: auto;
    padding: 10px;
}

#theme-option {
    display: flex;
    flex-direction: column;
}

#theme-option>p {
    padding-left: 17px;
}

.hue {
    position: inherit;
    width: 11em;
    height: 15px;
    border-radius: 2em;
    background: linear-gradient(to right,
            #e7007d 0%,
            #e90070 1%,
            #ea0064 2%,
            #eb0057 3%,
            #ec044a 4%,
            #ec0e3d 5%,
            #eb162f 6%,
            #ea1c1f 7%,
            #e92207 8%,
            #e03400 9%,
            #d84200 10%,
            #d04b00 11%,
            #ca5100 12%,
            #c45600 13%,
            #bf5b00 14%,
            #ba5e00 15%,
            #b56100 16%,
            #b16400 17%,
            #ad6600 18%,
            #a96800 19%,
            #a56a00 20%,
            #a26c00 21%,
            #9e6e00 22%,
            #9b7000 23%,
            #977100 24%,
            #937300 25%,
            #907400 26%,
            #8c7600 27%,
            #887700 28%,
            #847800 29%,
            #7f7a00 30%,
            #7a7b00 31%,
            #757d00 32%,
            #6f7e00 33%,
            #698000 34%,
            #618200 35%,
            #588300 36%,
            #4c8500 37%,
            #3d8700 38%,
            #238a00 39%,
            #008b18 40%,
            #008a2f 41%,
            #008a3d 42%,
            #008948 43%,
            #008951 44%,
            #008858 45%,
            #00885f 46%,
            #008865 47%,
            #00876a 48%,
            #00876f 49%,
            #008673 50%,
            #008677 51%,
            #00867b 52%,
            #00857f 53%,
            #008583 54%,
            #008586 55%,
            #00848a 56%,
            #00848d 57%,
            #008491 58%,
            #008394 59%,
            #008398 60%,
            #00829c 61%,
            #00829f 62%,
            #0081a3 63%,
            #0081a7 64%,
            #0080ac 65%,
            #007fb1 66%,
            #007fb6 67%,
            #007ebb 68%,
            #007dc1 69%,
            #007bc8 70%,
            #007ad0 71%,
            #0078da 72%,
            #0075e5 73%,
            #0072f2 74%,
            #126eff 75%,
            #326bff 76%,
            #4568ff 77%,
            #5365ff 78%,
            #5f62ff 79%,
            #695fff 80%,
            #735bff 81%,
            #7d57ff 82%,
            #8653ff 83%,
            #8e4eff 84%,
            #9748ff 85%,
            #a040ff 86%,
            #aa37ff 87%,
            #b329ff 88%,
            #be0dff 89%,
            #c400f6 90%,
            #ca00ea 91%,
            #ce00de 92%,
            #d300d2 93%,
            #d600c6 94%,
            #da00ba 95%,
            #dd00ad 96%,
            #e000a1 97%,
            #e20095 98%,
            #e50089 99%);
    margin-left: 16px;
}

.darkMode {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

md-item {
    pointer-events: none;
}

md-list-item {
    border-radius: 2em;
    cursor: pointer;
}

md-list-item.active {
    background-color: var(--md-sys-color-primary);
}

md-list-item>p {
    margin: 0px;
}

section {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-right: 1.7rem;
}

.scrollbar-wrapper {
    overflow-y: auto;
    max-height: 100%;
    border-radius: inherit;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.scrollbar-wrapper,
pre>code {
    scroll-behavior: smooth;
}

.scrollbar-wrapper::-webkit-scrollbar,
.overview::-webkit-scrollbar,
main::-webkit-scrollbar,
pre>code::-webkit-scrollbar {
    height: 5px;
    width: 7px;
    background-color: var(--md-sys-color-background);
}


.scrollbar-wrapper::-webkit-scrollbar-track,
.overview::-webkit-scrollbar-track,
main::-webkit-scrollbar-track,
pre>code::-webkit-scrollbar-track {
    background-color: var(--md-sys-color-background);
    border-radius: 3rem;
}

.scrollbar-wrapper::-webkit-scrollbar-thumb,
.overview::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb,
pre>code::-webkit-scrollbar-thumb {
    background-color: var(--md-sys-color-primary);
    border-radius: 3rem;
}

.overview {
    position: relative;
    width: 11rem;
    background-color: var(--md-sys-color-background);
    overflow-y: auto;
    max-height: 100%;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
}

.overview>p:first-child {
    font-size: 11px;
    color: var(--small-text-color);
}

.overview>h2 {
    font-size: 24px;
    margin: 8px 0px 12px;
}

.overview>ul {
    list-style-type: none;
    padding: 0px;
}

a {
    color: var(--md-sys-color-primary);
    text-decoration: underline dotted;
    text-underline-offset: 4px;
}

li {
    margin-top: 10px;
}

table {
    border-spacing: 0;
    text-align: center;
    width: 50svw;
}

th {
    padding: 20px;
    background-color: var(--md-sys-color-surface);
}

th,
td {
    border: 1px solid white;
}

td {
    padding: 10px;
}

tr>th:first-child {
    border-top-left-radius: 1rem;
}

tr>th:last-child {
    border-top-right-radius: 1rem;
}

tbody>tr:last-child>td:first-child {
    border-bottom-left-radius: 1rem;
}

tbody>tr:last-child>td:last-child {
    border-bottom-right-radius: 1rem;
}

code {
    background-color: var(--md-sys-color-surface);
    padding: 0.25rem;
    border-radius: 0.5rem;
    color: var(--md-sys-color-primary);
    font-weight: 900;
    font-size: large;
}

pre>code {
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 70%;
    box-sizing: border-box;
}

.codelang {
    width: 70%;
    display: flex;
    align-items: center;
    background-color: var(--md-sys-color-surface);
    height: 2.5rem;
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: -11px;
    box-sizing: border-box;
}

.portrait-only {
    display: none;
}

@media screen and (orientation: portrait) {
    .overview {
        display: none;
    }

    main {
        width: calc(95svw - 15px);
    }

    table {
        width: 100%;
    }

    section>table>thead>tr>th:first-child,
    section>table>tbody>tr>td:first-child {
        display: none;
    }

    section>table>thead>tr>th:nth-child(2) {
        border-top-left-radius: 1rem;
    }

    section>table>tbody>tr:last-child>td:nth-child(2) {
        border-bottom-left-radius: 1rem;
    }

    .codelang,
    pre>code {
        width: auto;
    }

    .omit-second-col>table>thead>tr>th:nth-child(2),
    .omit-second-col>table>tbody>tr>td:nth-child(2) {
        display: none;
    }

    .landscape-only {
        display: none;
    }

    .portrait-only {
        display: block;
    }
}